<title>
  Residents
</title>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Residents</a>
        <a class="nav-link" href="/food_types">FoodTypes</a>
      </div>
    </div>
  </div>
</nav>
<h1>
  Residents
</h1>
<form class="mx-2">
  <div class="mb-3">
    <label for="resident_name" class="form-label">名前</label>
    <input type="text" class="form-control" id="resident_name">
  </div>
  <div class="mb-3">
    <label for="resident_name_kana" class="form-label">ヨミガナ</label>
    <input type="text" class="form-control" id="resident_name_kana">
  </div>
  <div class="mb-3">
    <label for="resident_move_in" class="form-label">入居日</label>
    <input type="text" class="form-control" id="resident_move_in">
  </div>
  <div class="mb-3">
    <label for="resident_name" class="form-label">食形態</label>
    <select class="form-select">
      <% @food_types && @food_types.each do |food_types| %>
        <option value="<%= food_types.name %>"><%= food_types.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">作成</button>
  <a href="/" class="btn btn-secondary">戻る</a>
</form>
